<div class="container">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="field">
            <label class="label">Nome</label>
            <div class="control">
                <input class="input" type="text" formControlName="nome">
            </div>
        </div>
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input class="input" type="text" formControlName="email">
            </div>
        </div>
        <div class="field">
            <label class="label">Senha</label>
            <div class="control">
                <input class="input" type="password" formControlName="senha">
            </div>
        </div>
        <button class="button is-primary">Submit</button>
    </form>
</div>